

body {
  background-position:top;
  background-color: black;
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  
  }
.customizeHeader
{
  background-color: black;
 height:400px;
}
  .main
{
  background-color: black;
    text-align:center;
}
.container
{
  background-color: black;
  width: 1400px;
  margin: auto;
  flex-wrap: wrap ;
}
.div1 {    
  margin-left: 100px;
  margin-right: 100px;
  background: radial-gradient(circle, yellow, purple);
  width: 400px;
  height:500px;
  float: left;
  border: 1px solid black;
  padding:40px;
  margin: 50px;
}
.div1:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.div2 {  
  margin-right:  100px;
  background: radial-gradient(circle, purple, white);
  width: 400px;
  height:500px;   
  margin-left: 300px;
  border: 1px solid red;
  box-shadow: 5px 10px;
  padding:100px;
} 
.img
{ 
  width: 120px;
  height:100px;
  margin:auto;
  border:  solid black;
}
.content
{
  background:black;
}
  
#tableContent td {
  border: 1px solid #ddd;
  padding: 8px;
}

#tableContent tr:nth-child(even){background-color: #f2f2f2;}
#tableContent tr:hover {background-color: #ddd;}
  ol, ul {
    padding-left: 30px;
  }

.picture
{
		height:99.5px;
		width:100%;
}
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  
